.sideBarLeft {
    position: absolute;
    top: var(--heigth-header);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    z-index: 1000;
    width: var(--width-sideBarLeft);
    background: white;
}

.logo_sideBarLeft {
    width: 5rem !important;
    height: 5rem !important;
    margin: 2rem 0;
}

.mm-wrapper {
    width: 100%;
    background: inherit;
    /* border:1px solid #ccc;*/
    margin: 15% 0px !important;
}
.mm-wrapper a:hover{
   text-decoration: none
}

.mm-wrapper a {
    color: #8d97ad;
    border: 0px !important
}

 

.metismenu .mm-active .has_arrow_item_sideBar {
    transform: rotate(-270deg)
}

.label_item_sideBar {
    background: white;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0.4rem !important;
}
.mm-wrapper ul > li{
    margin: 0.8rem  0 !important;
}
.label_item_sideBar:last-child {
    border-bottom: 0 !important
}

.has_arrow_item_sideBar {
    position: absolute;
    left: 10.8vw;
    top: calc(50%) !important;
    padding: 0;
    font-size: 0.7rem;
    color: #8d97ad;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 21px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.child_item_sideBar {
    margin: 0.5rem;
    margin-left: 2rem;
}

.name_item_sideBar {
    color: #8d97ad;
    color: #8d97ad;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.child_item_sideBar i,
 .label_item_sideBar i,
  .mm-wrapper a.active i,
   .mm-wrapper a:active i {
    margin: 0 0.5rem;
    color: #8d97ad;
}
  



.mm-wrapper ul {
    text-align: start;
}

.mm-wrapper li {
    list-style: none;
}

.mm-wrapper a {
    text-decoration: none;
    width: 100%;
}

.menu-title {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}