.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.btn-circle {
    border-radius: 100% !important
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.btn-facebook {
    color: white;
    background-color: #3b5998 !important;
    background-image: url(../../../assets/icons/facebook.png);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position:center; 
    width: 3rem;
    height: 3rem;
}

.btn-twitter {
    color: white;
    background-color: #55acee !important;
    background-image: url(../../../assets/icons/twitter.png);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position:center; 
    width: 3rem;
    height: 3rem;
}

.btn-instagram {
    color: white;
    background-color: rgb(162, 129, 192)!important;
    background-image: url(../../../assets/icons/instagram.png);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position:center; 
    width: 3rem;
    height: 3rem;
}

.btn-facebook:hover {
    color: white;
}

.Success {
    color: black;
    background: var(--success-color)
}

.Danger {
    color: #944317;
}