.CardSignInSignUp {
    position: relative;
    width: 28rem;
    padding: 3rem 5px;
    margin-left: calc(50% - 14rem);
    margin-top: 10rem;
    border: 1px solid #ccc;
    border-radius: 15px
}


.log_signIn_signUp {
    position: absolute;
    top: -3rem;
    left: 10.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 5px solid grey;
    background: white;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.log_signIn_signUp i {
    font-size: 5rem;
}

.social_signIn{
    display: flex;
    width: 40% ;
    justify-content: space-around;
    text-align: center;
}