.header_container {
    height: var(--heigth-header);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 2px;
    z-index: 90;
    box-sizing: border-box;
    background: var(--color-bg-header);
}

.header_container nav {
    height: 100%;
    align-items: center;
    display: flex;
}

.logo_header {
    height: 100%
}

@media (max-width: 500px) {
    .header_container nav {
        display: none
    }
}