.footer_container {
    position: absolute;
    left: var(--width-sideBarLeft);
    right: 0;
    bottom: 0;
    height: var(--heigth-footer);
    background: var(--color-bg-footer);
    margin-top: 1rem !important;
    display :flex;
    justify-content: space-around;
    align-items: center
}