.NavigationItems {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}