* {
  margin: 0;
  padding: 0;
}

:root {
  --color-site: #03a9f3;
  --color-bg-header: #03a9f3;
  --color-bg-footer: #ffffff;
  --heigth-header: 3.5rem;
  --success-color:#00c292;
  --width-sideBarLeft: 12vw;
  --heigth-footer: 3rem;
}

.shadowInset {
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3);
}

.container_pages_with_header_footer {
  min-height: calc(100vh);
  background: #edf1f5;
  padding-left: var(--width-sideBarLeft);
  padding-top: var(--heigth-header);
  padding-bottom: var(--heigth-footer);
}

.container_pages_with_header {
  min-height: calc(100vh - var(--heigth-header));
  background: beige;
  padding-top: var(--heigth-header);
}

.container_pages_with_footer {
  min-height: calc(100vh - 3rem);
  background: beige;
  padding-bottom: var(--heigth-header);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}