.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    background: white;
    /* box-shadow: 0 2px 3px #ccc; */
     /* border: 1px solid #eee; */
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .ContactData {
        width: 500px;
    }
}